{% extends 'base.html' %}

{% block content %}
<div class="ps-page--single">

    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/{{ LANGUAGE_CODE }}">{{ Home }}</a></li>
                <li>Вопросы и ответы</li>
            </ul>
        </div>
    </div>

    <div class="ps-faqs">
        <div class="container">
            <div class="ps-section__header">
                <h1>Часто задаваемые вопросы</h1>
            </div>
            <div class="ps-section__content">
                <div class="table-responsive">
                    <table class="table ps-table--faqs">
                        <tbody>
                        <tr>
                            <td class="heading" rowspan="4"><h4>ТОВАР</h4></td>
                            <td class="question">Где можно посмотреть характеристики товара?</td>
                            <td>В описании товара под его изображением нажмите вкладку «Больше информации» и
                                «Спецификация».
                            </td>
                        </tr>
                        <tr>
                            <td class="question">Как сравнить несколько товаров?</td>
                            <td>Наведите указатель мыши на изображение продукта и нажмите кнопку «Добавить в сравнение»
                                из появившихся кнопок.
                            </td>
                        </tr>
                        <tr>
                            <td class="question">Почему у меня не получается купить товар, который я купил ранее?</td>
                            <td>Некоторые товары с корзины могли закончиться на складе, поэтому Вы можете позвонить в
                                службу поддержки по номеру: (90) 948-86-84 и мы запишем нужный Вам товар, чтобы
                                уведомить Вас о его появлении в будущем.
                            </td>
                        </tr>
                        <tr>
                            <td class="question">Понравившегося товара на сайте нет, можно ли его заказать?</td>
                            <td>Если Вам нужен какой-то товар, но Вы не нашли его у нас в онлайн магазине, Вы можете
                                позвонить нам по номеру (90) 948-86-84 и мы постараемся предоставить товар который Вам
                                нужен.
                            </td>
                        </tr>
                        <tr>
                            <td class="heading" rowspan="4"><h4>ОПЛАТА И ДОСТАВКА</h4></td>
                            <td class="question">Какие существуют способы получения заказа?</td>
                            <td>При оформлении покупки в интернет-магазине «GoSia.uz» можно заказать доставку
                                товара на дом или выбрать вариант «pick-up point». Во втором случае, во время
                                оформления заказа Вы увидите список доступных точек для самовывоза заказанного
                                Вами товара. Больше информации в разделe <a
                                        href='/{{ LANGUAGE_CODE }}/pages/payment-and-delivery'>«Оплата и
                                    доставка»</a></td>
                        </tr>
                        <tr>
                            <td class="question">Какие виды оплаты доступны?</td>
                            <td>Наличными при получении заказа. Онлайн-оплатой через Click или PayMe на сайте при
                                оформлении заказа
                            </td>
                        </tr>
                        <tr>
                            <td class="question">Как я узнаю, когда уже можно забирать товар?</td>
                            <td>Вам необходимо при регистрации или при заказе товара указать свои личные данные: номер
                                сотового телефона, адрес электронной почты (Email), Ф.И.О. и т.д.. Как Ваш товар будет
                                готов мы отправим Вам уведомление, и Вы сможете забрать его из «pick-up point». Для того
                                что бы посмотреть пришло ли Вам уведомление, необходимо зайти в свой личный кабинет, а
                                также мы отправим вам SMS по указанному вами номеру.
                            </td>
                        </tr>
                        <tr>
                            <td class="question">Что, если я оплатил товар и передумал?</td>
                            <td>Подробнее читайте в разделе <a
                                    href='/{{ LANGUAGE_CODE }}/pages/payment-and-delivery'>«Оплата и
                                доставка»</a></td>
                        </tr>
                        <tr>
                            <td class="heading" rowspan="4"><h4>ЗАКАЗ</h4></td>
                            <td class="question">Как оформить заказ?</td>
                            <td>Подробнее читайте в разделe <a
                                    href='/{{ LANGUAGE_CODE }}/pages/payment-and-delivery'>«Как заказать»</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="question">Как отменить заказ?</td>
                            <td>Подробнее читайте в разделe <a
                                    href='/{{ LANGUAGE_CODE }}/pages/payment-and-delivery'>«Как заказать»</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-call-to-action">
        <div class="container">
            <h3>Мы рады вам помочь! Есть еще вопросы? <a href="/{{ LANGUAGE_CODE }}/pages/contact-us/">Свяжитесь
                с нами.</a></h3>
        </div>
    </div>
</div>
{% endblock %}