{% extends 'base.html' %}

{% block content %}

<div class="ps-page--single">

    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/{{ LANGUAGE_CODE }}">{{ Home }}</a></li>
                <li>To'lov va yetkazib berish</li>
            </ul>
        </div>
    </div>

    <div class="ps-ordering">
        <div class="container">
            <div class="ps-ordering__header">
                <h1>To'lov va yetkazib berish tartibi</h1>
            </div>
            <div class="ps-section__content">
                <div class="ps-ordering__content">
                    <ul>
                        <li id="h_1"><a href='#h_1'>Buyurtma uchun to'lov qanday amalga oshiriladi?</a></li>
                        <li><a href='#h_2'>Qanday to'lov turlari mavjud?</a></li>
                        <li><a href='#h_3'>Buyurtmani yetkazib berish usullari.</a></li>
                        <li><a href='#h_4'>Buyurtmani yetkazib berish xizmati uchun qo'shimcha to'lov bormi?</a></li>
                    </ul>
                    <h3>Buyurtma uchun to'lov qanday amalga oshiriladi?</h3>
                    <ol>
                        <li>Kerakli mahsulotlarni tanlang va «Savatcha» ga qo'shing.</li>
                        <li>"Savatcha" sahifasiga o'ting va buyurtma ma'lumotlarini yana bir marta tekshiring.</li>
                        <li>"Savatcha" sahifasidagi "Buyurtma qilish" tugmasini bosing.</li>
                        <li>Ochilgan sahifada kerakli ma'lumotlarni kiriting.</li>
                        <li>To'lov turini tanlang: Naqd yoki Onlayn to'lov tizimlari orqali</li>
                        <li id="h_2">"Buyurtmani tasdiqlash" ni bosing.</li>
                        <li>Agar online to'lov turlarini tanlagan bo'lsangiz to'lov qilish sahifasi ochiladi.</li>
                        <li>To'lovni amalga oshiring va buyurtma rasmiylashtiriladi.</li>
                        <li>Buyurtmangiz yetkazilishini kuting.</li>
                    </ol>
                    <p> Buyurtmani rasmiylashtirishda qiyinchilik tug'ilsa bizning (90) 948-86-84 yoki (90) 920-59-25
                        raqamlarimizga telefon qiling.</p>

                    <h3>Qanday to'lov turlari mavjud?</h3>
                    <ol>
                        <p id="h_3"
                           style="text-decoration:none;margin-left:-20px;font-weight:600;margin-bottom:10px;font-size:16px;">
                            Ayni paytda quyidagi to'lov turlari mavjud: </p>
                        <li>Naqd (yetkazib berilganda)</li>
                        <li>Click</li>
                        <li>Payme</li>
                        <li>Apelsin</li>
                    </ol>
                    <h3>Buyurtmani yetkazib berish usullari.</h3>
                    <p style="text-decoration:none;">O‘zbekiston Respublikasi viloyatlari bo‘ylab yetkazib berish
                        xizmati
                        BTS Express Cargo Servis va Express Mail Universal (EMU) kuryerlik
                        kompaniyalari orqali amalga oshiriladi. </p>
                    <p id="h_4"><b> Eslatma:</b> Bayram va dam olish kunlari mobaynida
                        viloyatlar bo‘ylab yetkazib berish muddati belgilanganidan
                        kechikishi mumkin.
                    </p>
                    <p style="text-decoration:none;">Agar yetkazib berish ko‘rsatilgan manzilda kirish uchun pullik
                        avtoturargoh yoki ruxsat bilan kirish tizimi kabi ma‘lum bir
                        cheklovlar mavjud bo‘lsa, u holda Siz bu haqida qayg‘urishingizga
                        to‘g‘ri keladi. Aks holda Sizning buyurtmangizni cheklovlar mavjud
                        bo‘lmagan yergacha yetkazib berishimizga to‘g‘ri keladi.</p>

                    <p>Agar buyurtmangiz o'z vaqtida yetkazilmagan bo'lsa bizning
                        (90) 948-86-84 yoki (90) 920-59-25 raqamlarimizga telefon qiling.</p>
                    <h3>Buyurtmani yetkazib berish xizmati uchun qo'shimcha to'lov bormi?</h3>
                    <p style="text-decoration:none;">Buyurtmani yetkazib berish xizmati uchun
                        qo'shimcha to'lov mavjud. Buyurtma o'girligi 15 kg gacha bo'lganda xizmat
                        uchun to'lov 15 000 so'mni tashkil qiladi. Agar buyurtma o'girligi 15 kg
                        dan oshsa har bir kg uchun 500 so'm miqdorida qo'shimcha to'lov amalga
                        oshiriladi. Uy-ro'zg'or texnikalari uchun yetkazib berish va o'rnatish
                        xizmatlari alohida tarif bilan hisoblanadi. Bu haqda qo'shimcha ma'lumot
                        olish uchun bizga qo'ng'iroq qiling. </p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}