{% extends 'base.html' %}

{% block content %}

<div class="ps-page--single">

    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/{{ LANGUAGE_CODE }}">{{ Home }}</a></li>
                <li>Оплата и доставка</li>
            </ul>
        </div>
    </div>

    <div class="ps-ordering">
        <div class="container">
            <div class="ps-ordering__header">
                <h1>Оплата и доставка</h1>
            </div>
            <div class="ps-section__content">
                <div class="ps-ordering__content">
                    <ul>
                        <li id="h_1"><a href='#h_1'>Как оплатить заказ ?</a></li>
                        <li><a href='#h_2'>Какие существуют виды выплат?</a></li>
                        <li><a href='#h_3'>Способы доставки заказа.</a></li>
                        <li><a href='#h_4'>Есть ли дополнительная плата за услугу доставки заказа?</a></li>
                    </ul>
                    <h3>Как оплатить заказ ?</h3>
                    <ol>
                        <li>Выберите необходимые продукты и добавьте в "Корзину".</li>
                        <li>Перейдите на страницу "Корзина" и проверьте информацию о заказе еще раз.</li>
                        <li>Нажмите кнопку "Заказать" на странице "Корзина".</li>
                        <li>На открывшейся странице введите необходимую информацию.</li>
                        <li>Выберите тип оплаты: наличными или через онлайн-платежные системы</li>
                        <li id="h_2">Нажмите "Подтверждение Заказа".</li>
                        <li>Откроется страница оплаты, если вы выбрали типы онлайн-платежей.</li>
                        <li>Оплатите, и заказ будет оформлен.</li>
                        <li>Дождитесь доставки вашего заказа.</li>
                    </ol>
                    <p>В случае затруднений с оформлением заказа звоните по нашим номерам (90) 948-86-84 или (90)
                        920-59-25.</p>

                    <h3>Какие существуют виды выплат?</h3>
                    <ol>
                        <p id="h_3"
                           style="text-decoration:none;margin-left:-20px;font-weight:600;margin-bottom:10px;font-size:16px;">
                            На данный момент существуют следующие виды выплат: </p>
                        <li>Наличные (при доставке на дом)</li>
                        <li>Click</li>
                        <li>Payme</li>
                        <li>Apelsin</li>
                    </ol>
                    <h3>Способы доставки заказа.</h3>
                    <p style="text-decoration:none;">Доставка по регионам Республики Узбекистан осуществляется через
                        курьерские компании BTS Express Cargo Service и Express Mail Universal (EMU). </p>
                    <p id="h_4"><b> Примечание: </b> В праздничные и выходные дни
                        сроки доставки по регионам установлены может задержаться.
                    </p>
                    <p style="text-decoration:none;">Если есть определенные ограничения, такие как платная парковка или
                        система авторизованного доступа для въезда по адресу, указанному в доставке, вам, возможно,
                        придется позаботиться об этом. В противном случае нам придется доставить Ваш заказ туда, где нет
                        ограничений.</p>

                    <p>Если ваш заказ не был доставлен вовремя, позвоните нам по телефону (90) 948-86-84 или (90)
                        920-59-25.</p>

                    <h3>Есть ли дополнительная плата за услугу доставки заказа?</h3>
                    <p style="text-decoration:none;">За услугу доставки заказа взимается дополнительная плата. При краже
                        заказа до 15 кг плата за услугу составляет 15 000 сум. Если кража заказа превышает 15 кг,
                        взимается дополнительная плата в размере 500 сумов за кг. Услуги по доставке и установке бытовой
                        техники рассчитываются по отдельному тарифу. Позвоните нам для получения дополнительной
                        информации об этом. </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}