{% extends 'base.html' %}

{% block content %}

<div class="ps-page--single">

    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/{{ LANGUAGE_CODE }}">{{ Home }}</a></li>
                <li>Foydalanish shartlari</li>
            </ul>
        </div>
    </div>

    <div class="ps-terms">
        <div class="container">
            <div class="ps-terms__header">
                <h1>Maxfiylik siyosati</h1>
            </div>
            <div class="ps-section__content">
                <div class="ps-oterms__content">
                    <p>Ushbu Foydalanuvchi shartnomasi GoSia.uz MChJ (keyingi o‘rinlarda GoSia.uz) va Internet
                        foydalanuvchisi (keyingi o‘rinlarda Foydalanuvchi deb yuritiladi) o‘rtasidagi GoSia.uz
                        xizmatidan foydalanish bo‘yicha munosabatlarni tartibga soladi.
                    </p>
                    <p>
                        GoSia.uz xizmatidan foydalanishni boshlashdan oldin Foydalanuvchi ushbu Shartnoma bilan tanishib
                        chiqishi va unga qo‘shilishi shart.
                    </p>
                    <p> Foydalanuvchi quyidagi harakatlardan birini amalga oshirish orqali ushbu Shartnomaga
                        qo'shiladi:</p>
                    <ul>
                        <li>GoSia.uz saytida roʻyxatdan oʻtishda “Roʻyxatdan oʻtish” tugmasini bosish.</li>
                        <li>
                            GoSia.uz saytida foydalanuvchi tomonidan ruxsatsiz buyurtma berishda “Buyurtma” tugmasini
                            bosish
                        </li>
                        <li>Ushbu foydalanuvchi shartnomasi yozma ravishda tuzilgan shartnomaga tengdir. Foydalanuvchi
                            ushbu Shartnomani qabul qilib, uning barcha shartlariga, shu jumladan, Toko.uz saytiga
                            Foydalanuvchining shaxsiy ma’lumotlarini ushbu Shartnomaning 8-bo‘limida ko‘rsatilgan
                            shartlar asosida qayta ishlashga rozilik berish nuqtai nazaridan to‘liq va so‘zsiz
                            roziligini bildiradi va GoSia.uz kompaniyasiga elektron pochta, SMS va boshqa turdagi
                            axborot va reklama mazmunidagi jo‘natmalarni olishga rozilik berish bo‘yicha.
                        </li>
                    </ul>
                    <p class='head'>1. Foydalanuvchi shartnomasining predmeti</p>

                    <p>
                        1.1 GoSia.uz Foydalanuvchiga ushbu Foydalanuvchi shartnomasida nazarda tutilgan shartlar asosida
                        tovarlarga buyurtma berish uchun tezkor qidiruv xizmatidan foydalanish imkoniyatini taqdim
                        etadi.
                    </p>
                    <p>1.2 Ushbu shartnoma GoSia.uz tomonidan bir tomonlama ravishda oldindan ogohlantirmasdan
                        o'zgartirilishi mumkin. Shartnomaning yangi tahriri, agar Shartnomaning yangi tahririda
                        boshqacha qoida nazarda tutilgan bo'lmasa, u sayt sahifasida e'lon qilingan paytdan boshlab
                        kuchga kiradi.</p>
                    <p>1.3 Foydalanuvchi Shartnomaga GoSia.uz tomonidan kiritilgan o‘zgartirishlarni qabul qilishni rad
                        etishga haqli, bu esa Foydalanuvchining GoSia.uz xizmatidan foydalanishni rad etishini
                        bildiradi.</p>
                    <p class='head'>2. Xizmatlarning tavsifi</p>
                    <p>2.1 GoSia.uz - bu GoSia.uz Partners tomonidan amalga oshirilgan, foydalanuvchilarga tovarlarni
                        tez va oson qidirish va buyurtma qilish uchun keng imkoniyatlarni taklif qiluvchi, shuningdek,
                        buyurtmalar uchun to'lov uchun Foydalanuvchilardan mablag'larni qabul qiluvchi yagona buyurtma
                        axborot tizimi. Mahsulotlarni sotish bo'yicha majburiyatlar, Foydalanuvchi buyurtmasi
                        shartlariga ko'ra, bevosita GoSia.uz Hamkoridan kelib chiqadi.
                    </p>
                    <p>2.2 Ushbu xizmatlar ma'lumot olish uchun mo'ljallangan va Foydalanuvchiga bepul taqdim
                        etiladi.</p>
                    <p>2.3 Foydalanuvchi barcha xizmatlar “xuddi shunday” taqdim etilishiga va GoSia.uz yetkazib
                        berilayotgan mahsulotlar sifati uchun kechikishlar, nosozliklar, noto‘g‘ri yoki o‘z vaqtida
                        yetkazib berilmaganligi, shuningdek, to‘lov tizimlarining ishlashidagi nosozliklar uchun
                        javobgar emasligiga rozi.</p>
                    <p>2.4 GoSia.uz xizmatlaridan foydalanish uchun sizda Internetga (WWW) kirish imkoniyatiga ega
                        kompyuter/boshqa elektron qurilma bo‘lishi kerak.</p>
                    <p>2.5 Foydalanuvchi mustaqil ravishda Saytda Buyurtma beradi.</p>
                    <ul>
                        <p>2.6 Foydalanuvchi buyurtmani mavjud usullardan biri yordamida to'laydi:</p>
                        <li>2.6.1 Yetkazib berish xizmatidan (GoSia.uz hamkori) buyurtmani naqd pulda yoki GoSia.uz
                            Hamkori tomonidan taqdim etilgan boshqa usullarda olgandan keyin darhol;
                        </li>
                        <li>2.6.2 GoSia.uz veb-saytida UZCARD ONLINE-karta bank kartasi bilan "INSPIRED" MChJ (t.m.
                            Paycom) va "Click" MChJ (t.m. Click) to'lov tizimi orqali onlayn to'lov. Buyurtma uchun pul
                            mablag'larini o'tkazish uchun barcha qo'shimcha xarajatlar Foydalanuvchi tomonidan
                            qoplanadi.
                        </li>
                        <li>Onlayn to'lovni tanlashda, Buyurtmani joylashtirgandan so'ng, Foydalanuvchi INSPIRED
                            MChJning (ya'ni Paycom) xavfsiz to'lov sahifasiga yo'naltiriladi, u erda u bank kartasi
                            ma'lumotlarini kiritishi kerak. Karta egasining qo'shimcha autentifikatsiyasi uchun tegishli
                            maydonga kiritilishi kerak bo'lgan noyob kodli SMS-tasdiqlash ishlatiladi. Sms PayMe
                            xizmatini karta bilan bog'langan mobil raqamga yuboradi. Foydalanuvchi o'zining bank
                            kartasini chiqargan Bankda qo'shimcha identifikatsiya qilish qoidalari va usullari haqidagi
                            ma'lumotlarni tekshirishi mumkin.
                        </li>
                        <li>To'lov uchun taqdim etilgan miqdor Buyurtma va xizmatlarning narxi (masalan, yetkazib
                            berish, qadoqlash va h.k.).
                        </li>
                        <li>Internet to'lovlarini qayta ishlash xavfsizligi INSPIRED MChJ (ya'ni Paycom) tomonidan
                            kafolatlanadi. To‘lov kartalari bo‘yicha barcha operatsiyalar O‘zbekiston Respublikasining
                            2004-yil 24-sentabrdagi “Plastik kartochkalar asosida hisob-kitob tizimini yanada
                            rivojlantirish chora-tadbirlari to‘g‘risida”gi 445-sonli amaldagi qonunchiligiga asosan
                            to‘lov tizimlari talablariga muvofiq amalga oshiriladi. va O‘zbekiston Respublikasi
                            Prezidentining 2006 yil 3 avgustdagi PQ-433-sonli “Plastik kartochkalar asosida naqd pulsiz
                            hisob-kitoblar tizimini yanada rivojlantirishga doir qo‘shimcha chora-tadbirlar
                            to‘g‘risida”gi qarori. http://uzcard.uz/index.
                        </li>
                        <li> Tugallangan toʻlov boʻyicha savollar boʻlsa, Foydalanuvchi mijozlarni qoʻllab-quvvatlash
                            xizmatiga +998 71 202-65-00 (Toshkent shahri va Toshkent viloyati uchun) telefon orqali
                            murojaat qilishi mumkin.
                        </li>
                    </ul>
                    <p>Foydalanuvchi bank kartasini shaxsiy hisobiga ulash imkoniyatiga ega. Kelajakda foydalanuvchining
                        har qanday keyingi Buyurtmasining summasi shaxsiy hisob raqamiga biriktirilgan bank kartasidan
                        ma’lumotlarni ko‘rsatmasdan avtomatik tarzda yechib olinadi, uning tomonidan to‘lov amalga
                        oshirilganligi tasdiqlangach, “To‘lov” tugmasi bosiladi. Shaxsiy hisob va bir martalik parolni
                        kiritish, agar bank mijoz kartasining emitent banki ushbu himoyadan foydalanishni
                        ta'minlasa.</p>
                    <p>2.7 Foydalanuvchi Buyurtmani bajarishdan bosh tortgan taqdirda yoki GoSia.uz Hamkorlari
                        mahsulotni sotish shartlarini buzgan taqdirda, shu jumladan, lekin ular bilan cheklanmagan
                        holda: mahsulotni sotishdan bir tomonlama rad etilgan taqdirda, Yetkazib berish muddati yoki
                        mahsulot sifatining nomuvofiqligi va h.k.larda Foydalanuvchi Buyurtma yetkazib berilgan/olgan
                        paytdan boshlab 24 soat ichida GoSia.uz qo‘llab-quvvatlash xizmatiga yoki express@mytaxi.uz
                        elektron pochta manziliga xabar berishi shart. Buyurtmani rad etganligi to'g'risida, keyinchalik
                        pul mablag'larini qoplash uchun./p>
                    <p>Buyurtma uchun to‘lov amalga oshirilgan kundan boshlab 2 (ikki) kun ichida qaytarib berish
                        GoSia.uz tomonidan amalga oshiriladi.</p>
                    <p>Buyurtma uchun to‘lov amalga oshirilgan kundan boshlab 2 (ikki) kun o‘tgach, agar GoSia.uz
                        foydalanuvchidan Buyurtmani bajarishni rad etish va pul mablag‘larini qaytarish to‘g‘risida
                        bildirishnoma olmasa, Buyurtma bajarilgan deb hisoblanadi, uning uchun mablag‘lar hisoblanadi.
                        qaytarib berilmaydi.</p>
                    <p>Foydalanuvchi tomonidan Sayt orqali bank kartasi orqali to'langan pul mablag'larini qaytarish
                        faqat to'lov amalga oshirilgan kartada amalga oshiriladi.</p>
                    <p>2.8 Buyurtmani joylashtirgandan so'ng, foydalanuvchi buyurtma hali tayyor bo'lmagan taqdirdagina
                        bekor qilish huquqiga ega. Agar buyurtma allaqachon tayyor bo'lsa, Foydalanuvchi buyurtma uchun
                        to'lashi shart. Buyurtma tayyorlangach, Foydalanuvchi to‘lovni amalga oshirishdan bosh tortgan
                        taqdirda, u tuzilgan muassasa yoki GoSia.uz foydalanuvchidan buyurtma summasini qaytarish uchun
                        sudga murojaat qilish huquqini o‘zida saqlab qoladi. Muassasaning yoki GoSia.uz ning aybi bilan
                        ro‘yxatdan o‘tgandan keyin 2 soatdan ortiq muddatda bajarilmagan buyurtmalar bundan mustasno.
                        Bunday kuchli kechikish bo'lsa, foydalanuvchi ham buyurtmani bekor qilish huquqiga ega.</p>
                    <p>2.9 GoSia.uz Foydalanuvchining “naqd pul yoki onlayn to‘lov” to‘lovi shaklidagi Buyurtmani
                        berishni rad etishga haqli, agar Foydalanuvchining ilgari bergan Buyurtmalari uning aybi bilan
                        yetkazilmagan bo‘lsa (masalan, agar Foydalanuvchi eshikni ochmagan bo‘lsa). yoki Buyurtmani
                        yetkazib berish paytida kurerga telefonga javob bering yoki Foydalanuvchi mavjud bo'lmagan
                        etkazib berish manzilini ko'rsatdi va hokazo).</p>
                    <p>2.10 Bank kartalari bo'yicha operatsiyalar bank tomonidan ruxsat etiladi. Agar bankda
                        operatsiyani firibgarlik deb hisoblash uchun asos bo'lsa, bank ushbu operatsiyani amalga
                        oshirishni rad etishga haqli. Bank kartalari bilan firibgarlik operatsiyalari jinoiy
                        javobgarlikka tortiladi.</p>
                    <p>2.11. Bank kartalari bilan toʻlovlarni amalga oshirishda firibgarlik holatlariga yoʻl qoʻymaslik
                        uchun bank kartasi orqali amalga oshirilgan toʻlovlar GoSia.uz tomonidan mavjud imkoniyatlar
                        doirasida tekshirilishi mumkin.</p>
                    <p class='head'>3. Xizmatdan foydalanish majburiyatlari</p>
                    <p>3.1. Foydalanuvchi buyurtma shaklida va/yoki ro'yxatdan o'tish shaklida taklif qilingan masalalar
                        bo'yicha aniq, to'liq va dolzarb ma'lumotlarni taqdim etishga rozi.</p>
                    <p>3.2. Agar Foydalanuvchi notoʻgʻri/notoʻgʻri maʼlumot taqdim etgan boʻlsa yoki GoSia.uz ular
                        tomonidan taqdim etilgan maʼlumotlar notoʻgʻri, toʻliq boʻlmagan yoki notoʻgʻri deb hisoblash
                        uchun jiddiy asoslarga ega boʻlsa, Toko.uz foydalanuvchini roʻyxatdan oʻtkazishni toʻxtatib
                        turish yoki bekor qilishga hamda xizmatdan foydalanishni rad etishga haqli.</p>
                    <p>3.3. Toko.uz Foydalanuvchini xabardor qilmasdan va/yoki sabablarni ko‘rsatmasdan, GoSia.uz
                        xizmatidan foydalanishni rad etish huquqini o‘zida saqlab qoladi.</p>
                    <p>3.4. Foydalanuvchi har qanday reklama kodlari yordamida kuniga 3 (uch) dan ortiq bo'lmagan
                        buyurtma berish huquqiga ega.</p>
                    <p>3.5. Foydalanuvchiga GoSia.uz xizmatlari va/yoki tovarlarini xarid qilishda undan keyin
                        foydalanish uchun ma’lum nomdagi promo-kod taqdim etilishi mumkin. Ushbu promo-kod faqat bir
                        marta ishlatilishi mumkin.
                    <ul>
                        <li>3.5.1 Agar promo-kodning nominal qiymati buyurtma qiymatidan katta yoki unga teng bo'lsa,
                            chegirma buyurtma qiymatining 100% ni tashkil qiladi, 1 (bir) so'mga kamaytiriladi, bunda
                            qiymat o'rtasidagi farq buyurtma va reklama kodining nominal qiymati to'lanmaydi. Promo-kod
                            faqat buyurtmalar uchun amal qiladi, yetkazib berish xizmatlariga taalluqli emas;
                        </li>
                        <li>3.5.2 Agar promo-kodning nominal qiymati buyurtma narxidan past bo'lsa, foydalanuvchi
                            buyurtmani amalga oshirish vaqtida GoSia.uz veb-saytida amalga oshirilgan buyurtmaning
                            umumiy summasi va buyurtmaning umumiy summasi o'rtasidagi farqni to'lashi kerak.
                            promo-kodning nominal qiymati;
                        </li>
                    </ul>
                    </p>
                    <p>3.6. GoSia.uz aktsiyalarni o'tkazish huquqiga ega, ularga muvofiq Foydalanuvchiga qo'shimcha
                        ballar/berilgan promo-kodlar (ularning soni, kredit berish tartibi, boshqa shartlar GoSia.uz
                        tomonidan belgilanadi), agar Foydalanuvchi tomonidan amalga oshirilgan bo'lsa. bunday
                        aktsiyalarda ishtirok etish uchun zarur bo'lgan harakatlar.</p>
                    <p class='head'>4. Foydalanuvchini ro'yxatdan o'tkazish</p>
                    <p>4.1. Foydalanuvchi ro‘yxatdan o‘tish shaklini to‘ldirish va “Men Shartnoma shartlarini qabul
                        qilaman” bandini tasdiqlash orqali Shartnoma shartlariga rozilik bildirish orqali Saytda
                        ro‘yxatdan o‘tish jarayonini yakunlashga rozilik beradi.</p>
                    <p>4.2. Ro'yxatdan o'tish jarayoni tugagandan so'ng, Foydalanuvchi Shaxsiy kabinetga kirish uchun
                        login va parol oladi.</p>
                    <p>4.3. Foydalanuvchi o'z login va parolining xavfsizligi, shuningdek GoSia.uz veb-saytida o'z login
                        va paroli ostida amalga oshiriladigan barcha ishlar uchun javobgardir.</p>
                    <p>4.4. Foydalanuvchi o‘z login va paroli bilan ruxsatsiz (ruxsat etilmagan) kirish holatlari
                        va/yoki
                        har qanday xavfsizlik buzilishi holatlari to‘g‘risida GoSia.uz’ni darhol xabardor qilishi
                        shartligiga rozi.</p>
                    <p class='head'>5. GoSia.uz saytida joylashtirilgan materiallardan foydalanish shartlari</p>
                    <p>5.1. Saytda mualliflik huquqi bilan himoyalangan materiallar, savdo belgilari va qonun bilan
                        himoyalangan boshqa materiallar, jumladan, lekin ular bilan cheklanmagan holda: matnlar,
                        fotosuratlar, grafikalar mavjud.</p>
                    <p>5.2. Shu bilan birga, Saytning barcha mazmuni O‘zbekiston Respublikasining mualliflik huquqi va
                        turdosh huquqlar to‘g‘risidagi qonun hujjatlariga muvofiq jamoaviy ijodiy mehnat tomonidan
                        yaratilgan asar sifatida mualliflik huquqi bilan himoyalangan.</p>
                    <p>5.3. GoSia.uz sayt mazmunidan foydalanishga (jumladan, Toko.uz veb-saytidagi ma'lumotlarni
                        tanlash, tartibga solish, tartibga solish va o'zgartirish huquqiga, shuningdek, manba
                        ma'lumotlariga) mualliflik huquqiga egalik qiladi, alohida qayd etilgan hollar bundan mustasno.
                        materiallar saytida e'lon qilingan tarkibda.</p>
                    <p>5.4. Foydalanuvchi Sayt mazmunini o'zgartirish, nashr etish, uchinchi shaxslarga topshirish,
                        sotish yoki topshirishda ishtirok etish, hosilaviy asarlar yaratish yoki boshqa yo'l bilan
                        qisman yoki to'liq foydalanish huquqiga ega emas.</p>
                    <p>5.5. Tarmoq foydalanuvchisi Saytdan faqat qonuniy maqsadlarda foydalanish majburiyatini
                        oladi.</p>
                    <p>5.6. Tarmoq foydalanuvchisi Saytga joylashtirmaslik va Sayt orqali / orqali hech qanday joyga
                        quyidagi xarakterdagi materiallarni yubormaslik majburiyatini oladi:
                    <ul>
                        <li>qo'rqitish va haqoratlarni o'z ichiga olgan qonunni buzish, boshqa shaxslarning obro'sini
                            to'kish, fuqarolarning shaxsiy hayotga yoki jamoat tartibiga bo'lgan huquqlarini buzish,
                            odobsizlik xususiyatiga ega;
                        </li>
                        <li>boshqa shaxslarning sha'ni va qadr-qimmatini, huquqlari va qonun bilan qo'riqlanadigan
                            manfaatlarini ma'lum darajada buzish;
                        </li>
                        <li>diniy, irqiy yoki etnik adovatni qo'zg'atishga qaratilgan, nafratni qo'zg'atishga urinishlar
                            yoki zo'ravonlikka da'vatlarni targ'ib qilish yoki o'z ichiga olgan;
                        </li>
                        <li>shuningdek, boshqa shaxslarni jinoiy, fuqarolik va boshqa javobgarlikka olib keladigan yoki
                            qonun qoidalarini har qanday tarzda buzadigan noqonuniy xatti-harakatlarga undaydigan boshqa
                            materiallar.
                        </li>
                    </ul>
                    </p>
                    <p>5.7. GoSia.uz Foydalanuvchi tomonidan e'lon qilingan sharhlar uchun javobgar emas.</p>
                    <p class='head'>6. Mas'uliyat</p>
                    <p>6.1. GoSia.uz hamkorlarning Foydalanuvchi oldidagi majburiyatlarini bajarishi/bajarmasligi,
                        shuningdek, xizmat ko‘rsatuvchi hamkorlar tomonidan taqdim etilgan ma’lumotlarning to‘g‘riligi
                        uchun javobgar emas.GoSia.uz faqat Foydalanuvchi va foydalanuvchi o‘rtasidagi axborot havolasi
                        hisoblanadi. Hamkorlar.</p>
                    <p class='head'>7. GoSia.uz ning mulkiy huquqlari</p>
                    <p>
                        7.1. Foydalanuvchi GoSia.uz xizmati va u bilan bog‘liq barcha zarur dasturlarda intellektual
                        mulk to‘g‘risidagi qonunlar va boshqa xalqaro qonunlar bilan himoyalangan maxfiy ma’lumotlar
                        mavjudligini tan oladi va rozilik beradi. Foydalanuvchi ushbu tarkib va ​​dasturlarni to'liq
                        yoki qisman o'zgartirmaslik, sotmaslik, tarqatmaslikka rozilik beradi.</p>
                    <p class='head'>8. Maxfiylik</p>
                    <p>8.1. GoSia.uz veb-saytida ro'yxatdan o'tish / buyurtma berishda Foydalanuvchi quyidagi
                        ma'lumotlarni taqdim etadi: ism, elektron pochta manzili va/yoki aloqa telefon raqami,
                        buyurtmani yetkazib berish manzili.</p>
                    <p>8.2.Ushbu Foydalanuvchi shartnomasini bajarish uchun GoSia.uz xizmatning yangi funksiyalarini
                        (shu jumladan, axborot, reklama, ko‘ngilochar va boshqa mahsulotlar) ishlab chiqadi,
                        optimallashtiradi va joriy qiladi. filiallar va/yoki sheriklarni jalb qilish. Ushbu
                        maqsadlarning amalga oshirilishini ta'minlash, shuningdek, foydalanuvchilarni ularning
                        xizmatlari haqida xabardor qilish, GoSia.uz tovar va xizmatlarini targ'ib qilish, elektron va
                        sms so'rovlar o'tkazish, Foydalanuvchi tomonidan shaxsiylashtirilgan (maqsadli) reklama olish,
                        marketing kampaniyalarini nazorat qilish, mijozlarni qo'llab-quvvatlash, tashkil etish.
                        Foydalanuvchilarga tovarlarni etkazib berish, foydalanuvchilar o'rtasida sovrinlar o'yinlarini
                        o'tkazish, Foydalanuvchining qoniqishini va etkazib berish xizmatlari tomonidan taqdim
                        etilayotgan xizmatlar sifatini nazorat qilish, bunday ma'lumotlarni tekshirish, o'rganish va
                        tahlil qilish, Foydalanuvchi ro'yxatdan o'tishda / buyurtma berishda GoSia.uz ga ma'lumotlarni
                        amaldagi qonunchilikka muvofiq qayta ishlashga rozilik beradi va ko'rsatma beradi, shu jumladan
                        butun son va/yoki matn qiymatlari va identifikatorlar ko'rinishidagi bunday ma'lumotlarni
                        avtomatlashtirilgan qayta ishlash natijalari, ularni qayta ishlash bo'yicha bunday yo'riqnomaga
                        muvofiq filiallar va/yoki sheriklarga o'tkazish, shuningdek, foydalanuvchining ma'lumotlarini
                        yig'ish (qabul qilish) uchun. filiallar va/yoki hamkorlardan foydalanuvchiga tegishli
                        ma'lumotlar va boshqa ma'lumotlar. Bunday ma'lumotlarni yetkazib berish, tekshirish, tadqiq
                        qilish va tahlil qilish xizmatlari tomonidan taqdim etiladi, ro'yxatdan o'tish/buyurtmani
                        joylashtirishda Foydalanuvchi GoSia.uz ga ma'lumotlarni amaldagi qonunchilikka muvofiq qayta
                        ishlashga rozilik beradi va ko'rsatma beradi, shu jumladan. butun son va/yoki matn qiymatlari va
                        identifikatorlar ko'rinishidagi bunday ma'lumotlarni avtomatlashtirilgan qayta ishlash
                        natijalari, ularni qayta ishlash bo'yicha bunday yo'riqnomaga muvofiq filiallar va/yoki
                        sheriklarga o'tkazish, shuningdek, foydalanuvchining ma'lumotlarini yig'ish (qabul qilish)
                        uchun. filiallar va/yoki hamkorlardan foydalanuvchiga tegishli ma'lumotlar va boshqa
                        ma'lumotlar. Bunday ma'lumotlarni yetkazib berish, tekshirish, tadqiq qilish va tahlil qilish
                        xizmatlari tomonidan taqdim etiladi, ro'yxatdan o'tish/buyurtmani joylashtirishda Foydalanuvchi
                        GoSia.uz ga ma'lumotlarni amaldagi qonunchilikka muvofiq qayta ishlashga rozilik beradi va
                        ko'rsatma beradi, shu jumladan. butun son va/yoki matn qiymatlari va identifikatorlar
                        ko'rinishidagi bunday ma'lumotlarni avtomatlashtirilgan qayta ishlash natijalari, ularni qayta
                        ishlash bo'yicha bunday yo'riqnomaga muvofiq filiallar va/yoki sheriklarga o'tkazish,
                        shuningdek, foydalanuvchining ma'lumotlarini yig'ish (qabul qilish) uchun. filiallar va/yoki
                        hamkorlardan foydalanuvchiga tegishli ma'lumotlar va boshqa ma'lumotlar. Bunday ma'lumotlarni
                        o'rganish va tahlil qilish, ro'yxatdan o'tish / buyurtma berishda Foydalanuvchi GoSia.uz ga
                        ma'lumotlarni amaldagi qonunchilikka muvofiq qayta ishlashga rozilik beradi va ko'rsatma beradi,
                        shu jumladan. butun son va/yoki matn qiymatlari va identifikatorlar ko'rinishidagi bunday
                        ma'lumotlarni avtomatlashtirilgan qayta ishlash natijalari, ularni qayta ishlash bo'yicha bunday
                        yo'riqnomaga muvofiq filiallar va/yoki sheriklarga o'tkazish, shuningdek, foydalanuvchining
                        ma'lumotlarini yig'ish (qabul qilish) uchun. filiallar va/yoki hamkorlardan foydalanuvchiga
                        tegishli ma'lumotlar va boshqa ma'lumotlar. Bunday ma'lumotlarni o'rganish va tahlil qilish,
                        ro'yxatdan o'tish / buyurtma berishda Foydalanuvchi GoSia.uz ga ma'lumotlarni amaldagi
                        qonunchilikka muvofiq qayta ishlashga rozilik beradi va ko'rsatma beradi, shu jumladan. butun
                        son va/yoki matn qiymatlari va identifikatorlar ko'rinishidagi bunday ma'lumotlarni
                        avtomatlashtirilgan qayta ishlash natijalari, ularni qayta ishlash bo'yicha bunday yo'riqnomaga
                        muvofiq filiallar va/yoki sheriklarga o'tkazish, shuningdek, foydalanuvchining ma'lumotlarini
                        yig'ish (qabul qilish) uchun. filiallar va/yoki hamkorlardan foydalanuvchiga tegishli
                        ma'lumotlar va boshqa ma'lumotlar. uz ma'lumotlarga ishlov berishni amaldagi qonunchilikka
                        muvofiq amalga oshiradi, shu jumladan. butun son va/yoki matn qiymatlari va identifikatorlar
                        ko'rinishidagi bunday ma'lumotlarni avtomatlashtirilgan qayta ishlash natijalari, ularni qayta
                        ishlash bo'yicha bunday yo'riqnomaga muvofiq filiallar va/yoki sheriklarga o'tkazish,
                        shuningdek, foydalanuvchining ma'lumotlarini yig'ish (qabul qilish) uchun. filiallar va/yoki
                        hamkorlardan foydalanuvchiga tegishli ma'lumotlar va boshqa ma'lumotlar. uz ma'lumotlarga ishlov
                        berishni amaldagi qonunchilikka muvofiq amalga oshiradi, shu jumladan. butun son va/yoki matn
                        qiymatlari va identifikatorlar ko'rinishidagi bunday ma'lumotlarni avtomatlashtirilgan qayta
                        ishlash natijalari, ularni qayta ishlash bo'yicha bunday yo'riqnomaga muvofiq filiallar va/yoki
                        sheriklarga o'tkazish, shuningdek, foydalanuvchining ma'lumotlarini yig'ish (qabul qilish)
                        uchun. filiallar va/yoki hamkorlardan foydalanuvchiga tegishli ma'lumotlar va boshqa
                        ma'lumotlar.</p>
                    <p>GoSia.uz Sayt faoliyati bilan bog'liq statistik ma'lumotlarni tasarruf etish huquqiga ega.</p>
                    <p class='head'>9. Umumiy qoidalar</p>
                    <p>9.1. Mazkur Bitim O‘zbekiston Respublikasining amaldagi qonunchiligi normalari bilan tartibga
                        solinadi.</p>
                    <p>9.2. Shartnoma bo'yicha yuzaga kelishi mumkin bo'lgan barcha nizolar O'zbekiston Respublikasining
                        amaldagi qonunchiligi normalariga muvofiq hal etiladi.</p>
                    <p>9.3. Mazkur shartnoma shartlari tekin bo‘lgani uchun foydalanuvchi va GoSia.uz o‘rtasidagi
                        munosabatlarga iste’molchilar huquqlarini himoya qilish qoidalarini qo‘llash mumkin emas.</p>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}