{% extends 'base.html' %}

{% block content %}

<div class="ps-page--single">

    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/{{ LANGUAGE_CODE }}">{{ Home }}</a></li>
                <li>Условия использования</li>
            </ul>
        </div>
    </div>

    <div class="ps-terms">
        <div class="container">
            <div class="ps-terms__header">
                <h1>Политика Конфиденциальности</h1>
            </div>
            <div class="ps-section__content">
                <div class="ps-oterms__content">
                    <p>Настоящее Пользовательское соглашение регулирует отношения между
                        ООО «GoSia.uz» (далее именуемое – GoSia.uz), и пользователем сети
                        Интернет (далее – Пользователь) по использованию сервиса GoSia.uz.
                    </p>
                    <p>
                        Перед тем как начать использовать сервис GoSia.uz, Пользователь обязан
                        ознакомиться с настоящим Пользовательским соглашением и присоединиться к нему.
                    </p>
                    <p> Пользователь присоединяется к настоящему Пользовательскому Соглашению
                        путем совершения одного из следующих действий:</p>
                    <ul>
                        <li>Нажатие кнопки «Зарегистрироваться» при регистрации на сайте GoSia.uz.</li>
                        <li>
                            Нажатие кнопки «Заказать» при оформлении заказа Пользователем без авторизации
                            на сайте GoSia.uz
                        </li>
                        <li>Настоящее Пользовательское соглашение приравнивается к договору, составленному
                            в письменной форме. Принимая настоящее Пользовательское Соглашение, Пользователь
                            выражает полное и безоговорочное согласие со всеми его условиями, в том числе,
                            в части предоставления согласия Toko.uz на обработку персональных данных Пользователя
                            на условиях, указанных в разделе 8 настоящего Пользовательского соглашения, и в части
                            предоставления согласия GoSia.uz на получение e-mail, SMS и иных видов рассылок
                            информационного и рекламного содержания.
                        </li>
                    </ul>
                    <p class='head'>1. Предмет Пользовательского Соглашения</p>

                    <p>
                        1.1 GoSia.uz предлагает Пользователю доступ к сервису быстрого поиска
                        заказа товара на условиях, предусмотренных настоящим Пользовательским
                        соглашением.
                    </p>
                    <p>1.2 Настоящее соглашение может быть изменено GoSia.uz в одностороннем порядке
                        без предварительного уведомления. Новая редакция Соглашения вступает в силу с
                        момента ее опубликования на странице сайта, если иное не предусмотрено новой
                        редакцией Соглашения.</p>
                    <p>1.3 Пользователь вправе отказаться от принятия изменений Соглашения,
                        осуществленных GoSia.uz, что означает отказ Пользователя от
                        использования сервиса GoSia.uz</p>
                    <p class='head'>2. Описание услуг</p>
                    <p>2.1 GoSia.uz является единой информационной системой заказов, которая предлагает
                        пользователям широкие возможности для быстрого и простого поиска и заказа товара,
                        реализуемой Партнерами GoSia.uz, а также принимает от Пользователей денежные
                        средства в счет оплаты заказов. Обязательства по реализации продуктов,
                        согласно условиям оформленного заказа Пользователя, возникают непосредственно
                        у Партнера GoSia.uz.
                    </p>
                    <p>2.2 Указанные услуги носят информационный характер и оказываются Пользователю безвозмездно.</p>
                    <p>2.3 Пользователь соглашается с тем, что все услуги предоставляются «как есть» и что GoSia.uz
                        не несет ответственность за качество поставляемых продуктов за задержки, сбои, неверную или
                        несвоевременную доставку, а также за сбои в работе платежных систем.</p>
                    <p>2.4 Для того, чтобы воспользоваться услугами службами GoSia.uz,
                        необходимо иметь компьютер/иное электронное устройство с возможностью
                        доступа в Интернет (WWW).</p>
                    <p>2.5 Пользователь самостоятельно оформляет Заказ на Сайте.</p>
                    <ul>
                        <p>2.6 Пользователь оплачивает заказ одним из доступных способов:</p>
                        <li>2.6.1 непосредственно при получении заказа от службы доставки
                            (Партнера GoSia.uz) наличными денежными средствами или иными способами,
                            предоставленными Партнером GoSia.uz;
                        </li>
                        <li>2.6.2 on-line оплата на Сайте GoSia.uz банковской картой ONLINE-карты UZCARD
                            через платежную систему ООО «INSPIRED» (т.м. Paycom), и OOO “Click” (т.м. Click).
                            Все дополнительные расходы по перечислению денежных средств за заказ несёт Пользователь.
                        </li>
                        <li>При выборе on-line оплаты после оформления Заказа Пользователь будет перенаправлен на
                            защищенную платежную страницу ООО «INSPIRED» (т.м. Paycom), где ему необходимо ввести данные
                            его банковской карты. Для дополнительной аутентификации держателя карты используется sms
                            подтверждение с уникальным кодом, который необходимо ввести в соответствующее поле. Sms
                            отправляет сервис PayMe на мобильный номер привязанный к карте. Информацию о правилах и
                            методах дополнительной идентификации Пользователь может уточнить в Банке, выдавшем его
                            банковскую карту.
                        </li>
                        <li>Представленная к оплате сумма является стоимостью Заказа и Услуг
                            (таких как доставка, упаковка и т.д.).
                        </li>
                        <li>Безопасность обработки Интернет-платежей гарантирует ООО «INSPIRED» (т.м. Paycom). Все
                            операции с платежными картами происходят в соответствии с требованиями платежных систем на
                            основе действующего законодательства Республики Узбекистан от 24 сентября 2004 года № 445,
                            «О мерах по дальнейшему развитию системы расчетов на основе пластиковых карточек» и
                            Постановлением Президента Республики Узбекистан от 3 августа 2006 года № ПП-433 «О
                            дополнительных мерах по дальнейшему развитию системы безналичных расчетов на основе
                            пластиковых карточек». http://uzcard.uz/index.php/ru/about-company При передаче информации
                            используется специальные технологии безопасности карточных онлайн-платежей, обработка данных
                            ведется на безопасном высокотехнологичном сервере процессинговой компании.
                        </li>
                        <li> При наличии вопросов по совершенному платежу, Пользователь может обратиться в службу
                               поддержки клиентов по телефону +998 71 202-65-00 (для Ташкента и Ташкентской Области).</li>
                    </ul>
                    <p>Пользователь имеет возможность привязать банковскую карту к своему Личному кабинету. В дальнейшем
                        сумма любого последующего Заказа Пользователя будет списываться автоматически с прикрепленной к
                        Личному кабинету банковской карты без указания реквизитов, при подтверждении платежа с его
                        стороны путем нажатия кнопки «Оплатить» в корзине Личного кабинета и ввода одноразового пароля,
                        в случае, если банк-эмитент банковской карты клиента предусматривает использование данной
                        защиты.</p>
                    <p>2.7 В случае отказа Пользователя от Заказа, либо в случае нарушения Партнерами GoSia.uz условий
                        реализации продукции, в том числе, но не ограничиваясь: в случае одностороннего отказа от
                        реализации продукции, нарушения срока доставки или несоответствия качества продукции и т.п.,
                        Пользователь обязан в течение 24 часов с момента наступления времени доставки/получения Заказа
                        сообщить службе поддержки GoSia.uz, либо по e-mail адресу express@mytaxi.uz о своём отказе от
                        Заказа, для дальнейшего возмещения денежных средств. </p>
                    <p>Возврат денежных средств в течение 2 (двух) дней с момента оплаты Заказа
                        производится GoSia.uz.</p>
                    <p>По истечении 2 (двух) дней с момента оплаты Заказа при неполучении GoSia.uz
                        уведомления от Пользователя об отказе от Заказа и возврате денежных средств,
                        Заказ считается выполненным, денежные средства за него возврату не подлежат.</p>
                    <p>Возврат денежных средств, оплаченных Пользователем через Сайт банковской картой,
                        осуществляется только на ту карту, с которой была произведена оплата.</p>
                    <p>2.8 После оформления заказа Пользователь имеет право сделать отмену только
                        в случае, если заказ еще не был приготовлен. Если заказ уже готов, Пользователь
                        обязан оплатить заказ. В случае отказа Пользователя от оплаты заказа после
                        его приготовления, заведение, в котором он был сделан либо GoSia.uz оставляют
                        за собой право обратиться в суд за возмещением суммы заказа с Пользователя.
                        Исключением являются заказы, которые не были выполнены в течение более 2х
                        часов после оформления по вине заведения или GoSia.uz. В случае столь
                        сильной задержки, пользователь также имеет право отказаться от заказа.</p>
                    <p>2.9 GoSia.uz вправе отказать Пользователю в оформлении Заказа с
                        формой оплаты «наличными или онлайн платежом», если ранее оформленные
                        Заказы Пользователя не были доставлены по его вине (например, если
                        Пользователь не открыл дверь или не ответил по телефону курьеру при
                        доставке Заказа, или Пользователь указал несуществующий адрес доставки и т.п.).</p>
                    <p>2.10 Авторизация операций по банковским картам осуществляется банком. Если у банка есть основания
                        полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении
                        данной операции. Мошеннические операции с банковскими картами являются уголовным
                        преступлением.</p>
                    <p>2.11. Во избежание случаев мошенничества при оплате банковскими картами платежи, оплаченные
                        банковской картой, могут проверяться GoSia.uz в рамках имеющихся возможностей.</p>
                    <p class='head'>3. Обязательства по использованию сервиса</p>
                    <p>3.1. Пользователь соглашается предоставить достоверную, полную и актуальную информацию по
                        вопросам, предлагаемым в форме заказа и/или форме регистрации.</p>
                    <p>3.2. Если Пользователь предоставляет неверную/некорректную информацию или у GoSia.uz есть
                        серьезные основания полагать, что предоставленная им информация неверна, неполна или неточна,
                        Toko.uz имеет право приостановить либо отменить регистрацию пользователя и отказать ему в
                        использовании сервиса.</p>
                    <p>3.3. Toko.uz оставляет за собой право отказать Пользователю в применении сервиса GoSia.uz без
                        уведомления Пользователя и/или без объяснения причин.</p>
                    <p>3.4. Пользователь вправе оформить не более 3 (трех) заказов с применением любых промокодов в
                        сутки.</p>
                    <p>3.5. Пользователю может быть предоставлен промокод на определенный номинал
                        для последующего его использования при приобретении услуг и/или товаров GoSia.uz.
                        Таким промокодом
                        можно воспользоваться только один раз.
                    <ul>
                        <li>3.5.1 В случае если номинал промокода больше или равен стоимости заказа, то скидка
                            составляет 100 % стоимости заказа, уменьшенная на 1 (один) сум, при этом, разница между
                            стоимостью заказа и номиналом промокода не выплачивается. Промокод действует только на
                            заказ, на услуги доставки не распространяется;
                        </li>
                        <li>3.5.2 В случае если номинал промокода меньше стоимости заказа, Пользователь в момент
                            совершения заказа должен будет оплатить разницу между общей суммой заказа, совершенного на
                            Сайте GoSia.uz, и суммой номинала промокода;
                        </li>
                    </ul>
                    </p>
                    <p>3.6. GoSia.uz вправе проводить рекламные акции, в соответствии с которыми Пользователю могут быть
                        начислены дополнительные баллы/выдаваться промокоды (их количество, порядок зачисления, иные
                        условия определяются GoSia.uz) при условии обязательного выполнения Пользователем действий,
                        необходимых для участия в таких акциях.</p>
                    <p class='head'>4. Регистрация Пользователя</p>
                    <p>4.1. Пользователь соглашается пройти процедуру регистрации на Сайте, заполнив форму регистрации и
                        выразив согласие с условиями Соглашения путем подтверждения пункта «Я принимаю условия
                        Соглашения».</p>
                    <p>4.2. По завершении процесса регистрации Пользователь получает логин и пароль для доступа в Личный
                        кабинет.</p>
                    <p>4.3. Пользователь несет ответственность за безопасность своего логина и пароля, а также за все,
                        что будет сделано на Сайте GoSia.uz под его логином и паролем.</p>
                    <p>4.4. Пользователь соглашается с тем, что он обязан немедленно уведомить GoSia.uz о любом случае
                        неавторизованного (не разрешенного) доступа со своим логином и паролем и/или о любом нарушении
                        безопасности.</p>
                    <p class='head'>5. Условия использования материалов, размещенных на GoSia.uz</p>
                    <p>5.1. Сайт содержит материалы, охраняемые авторским правом, товарные знаки и
                        иные охраняемые законом материалы, включая, но не ограничиваясь: тексты,
                        фотографии, графические изображения.</p>
                    <p>5.2. При этом все содержание Сайта охраняется авторским правом как произведение, созданное
                        коллективным творческим трудом в соответствии с законодательством Республики Узбекистан об
                        авторском праве и смежных правах.</p>
                    <p>5.3. GoSia.uz принадлежит авторское право на использование содержания Сайта (в том числе, право
                        на подбор, расположение, систематизацию и преобразование данных, содержащихся на сайте Toko.uz,
                        а также на сами исходные данные), кроме случаев, отдельно отмеченных в содержании опубликованных
                        на сайте материалов.</p>
                    <p>5.4. Пользователь не имеет права вносить изменения, публиковать, передавать третьим лицам,
                        участвовать в продаже или уступке, создавать производные продукты или иным образом использовать,
                        частично или полностью, содержание Сайта.</p>
                    <p>5.5. Пользователь Сети обязуется использовать Сайт только в законных целях.</p>
                    <p>5.6. Пользователь Сети обязуется не размещать на Сайте и не направлять куда-либо
                        через/посредством Сайта любые материалы следующего характера:
                    <ul>
                        <li>нарушающие законодательство, содержащие угрозы и оскорбления, дискредитирующие других лиц,
                            нарушающие права граждан на частную жизнь или публичный порядок, носящие характер
                            непристойности;
                        </li>
                        <li>нарушающие в той или иной степени честь и достоинство, права и охраняемые законом интересы
                            других лиц;
                        </li>
                        <li>способствующие или содержащие призывы к разжиганию религиозной, расовой или межнациональной
                            розни, содержащие попытки разжигания вражды или призывы к насилию;
                        </li>
                        <li>а также иные материалы, которые побуждают других лиц на противоправное поведение, влекущее
                            уголовную, гражданско-правовую и иную ответственность или каким-либо образом нарушающее
                            положения законодательства.
                        </li>
                    </ul>
                    </p>
                    <p>5.7. GoSia.uz не несет ответственность за отзывы, опубликованные Пользователем.</p>
                    <p class='head'>6. Ответственность</p>
                    <p>6.1. GoSia.uz не несет ответственности за соблюдение/несоблюдение Партнеров своих обязательств
                        перед Пользователем, а также за достоверность информации, предоставленные Партнерами сервиса..
                        GoSia.uz является лишь информационным связующим звеном между Пользователем и Партнерами.</p>
                    <p class='head'>7. Права собственности GoSia.uz</p>
                    <p>
                        7.1. Пользователь признает и соглашается с тем, что сервис GoSia.uz и все необходимые программы,
                        связанные с ним, содержат конфиденциальную информацию, которая защищена законами об
                        интеллектуальной собственности и прочими международными законами. Пользователь соглашается не
                        модифицировать, не продавать, не распространять этот контент и программы, целиком либо по
                        частям.</p>
                    <p class='head'>8. Конфиденциальность</p>
                    <p>8.1. При регистрации/оформлении заказа на Сайте GoSia.uz Пользователь предоставляет следующие
                        данные: имя, адрес электронной почты и/или номер контактного телефона, адрес доставки
                        заказа.</p>
                    <p>8.2. В целях исполнения настоящего Пользовательского соглашения GoSia.uz развивает, оптимизирует
                        и внедряет новый функционал сервиса (включая продукты информационного, рекламного,
                        развлекательного и иного характера), в т.ч. с участием аффилированных лиц и/или партнеров. Для
                        обеспечения реализации указанных целей, а также в целях информирования Пользователей о своих
                        услугах, продвижения GoSia.uz товаров и услуг, проведения электронных и sms опросов, Получения
                        Пользователем персонализированной (таргетированной) рекламы, контроля маркетинговых акций,
                        клиентской поддержки, организации доставки товара Пользователям, проведения розыгрышей призов
                        среди Пользователей, контроля удовлетворенности Пользователя и качества услуг, оказываемых
                        службами доставки, проверки, исследования и анализа таких данных Пользователь при
                        регистрации/оформлении заказа соглашается и поручает GoSia.uz осуществлять с соблюдением
                        применимого законодательства обработку данных, в т.ч. результатов автоматизированной обработки
                        таких данных в виде целочисленных и/или текстовых значений и идентификаторов, их передачу
                        аффилированным лицам и/или партнерам во исполнение такого поручения на обработку, а также
                        осуществлять сбор (получение) данных Пользователя и иных связанных с Пользователем данных от
                        аффилированных лиц и/или партнеров.</p>
                    <p>GoSia.uz имеет право распоряжаться статистической информацией, связанной с функционированием
                        Сайта.</p>
                    <p class='head'>9. Общие положения</p>
                    <p>9.1. Настоящее Соглашение регулируется нормами действующего законодательства РУз.</p>
                    <p>9.2. Все возможные споры по поводу Соглашения разрешаются согласно нормам действующего
                        законодательства РУз.</p>
                    <p>9.3. Ввиду безвозмездности условий настоящего соглашения нормы о защите прав потребителей не
                        могут быть применимы к отношениям между Пользователем и GoSia.uz.</p></div>

            </div>
        </div>
    </div>
</div>

{% endblock %}