{% extends 'base.html' %}

{% block title %}{{ Write_a_review }}{% endblock %}

{% block content %}

    <!-- breadcump menu | START -->
    <!-- breadcump menu | END -->

    <section class="ps-section--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!-- nav tabs | START -->
                    {% include 'users/sections/account-menu.html' %}
                    <!-- nav tabs | END -->
                </div>
                <div class="col-lg-9 mt-20">
                    <div class="ps-section__right">

                        <h3>{{ Write_a_review_to_the_product }}</h3>
                        <div class="ps-section__content">
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 ">
                                    <div class="ps-block--average-rating">
                                        <div class="ps-block__header product-info">
                                            {% include 'products/sections/product_list_image.html' %}
                                            <div class="ps-product__content">
                                                <a class="ps-product__title"
                                                   href="/{{ LANGUAGE_CODE }}/products/{{ product.slug }}"
                                                   style='display:block'>
                                                    {{ product.names[LANGUAGE_CODE] }}
                                                </a>
                                                <p class="ps-product__price sale mr-15" style="display:inline-block;">
                                                    {{ product.discount_price }}
                                                </p>
                                                <div class="ps-product__rating" style="display:inline-block;">
                                                    <form style='margin-bottom:5.5px;'>
                                                        <fieldset class="rate lr">
                                                            <input type="radio"
                                                                   {% if product.rating_star == 5 %}checked{% endif %}/>
                                                            <label></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 4.5 %}checked{% endif %}/>
                                                            <label class="half"></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 4 %}checked{% endif %}/>
                                                            <label></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 3.5 %}checked{% endif %}/>
                                                            <label class="half"></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 3 %}checked{% endif %}/>
                                                            <label></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 2.5 %}checked{% endif %}/>
                                                            <label class="half"></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 2 %}checked{% endif %}/>
                                                            <label></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 1.5 %}checked{% endif %}/>
                                                            <label class="half"></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 1 %}checked{% endif %}/>
                                                            <label></label>
                                                            <input type="radio"
                                                                   {% if product.rating_star == 0.5 %}checked{% endif %}/>
                                                            <label class="half"></label>
                                                        </fieldset>
{#                                                        <span>{{ product.review_set.count }}</span>#}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 ">
                                    <form class="ps-form--review" enctype="multipart/form-data" action="/{{ LANGUAGE_CODE }}/rqa/my-reviews/{{ review_id }}/edit"
                                          method="post">{{ csrf_token }}
                                        <div class="form-group form-group__rating">
                                            <label>{{ Your_rating_of_this_product }}</label>
                                            <fieldset class="rate wr" name='rating' style="min-width:155px;">
                                                <input type="radio" id="rating10" name="rating" class="wr" value="5"
                                                       {% if review.rating == 5 %}checked{% endif %}/>
                                                <label for="rating10" class="wr" title="5 stars"></label>
                                                <input type="radio" id="rating8" name="rating" class="wr" value="4"
                                                       {% if review.rating == 4 %}checked{% endif %}/>
                                                <label for="rating8" class="wr" title="4 stars"></label>
                                                <input type="radio" id="rating6" name="rating" class="wr" value="3"
                                                       {% if review.rating == 3 %}checked{% endif %}/>
                                                <label for="rating6" class="wr" title="3 stars"></label>
                                                <input type="radio" id="rating4" name="rating" class="wr" value="2"
                                                       {% if review.rating == 2 %}checked{% endif %}/>
                                                <label for="rating4" class="wr" title="2 stars"></label>
                                                <input type="radio" id="rating2" name="rating" class="wr" value="1"
                                                       {% if review.rating == 1 %}checked{% endif %}/>
                                                <label for="rating2" class="wr" title="1 star"></label>
                                            </fieldset>
                                        </div>
                                        <div class="form-group" style='margin-bottom:10px;'>
                                                <textarea class="form-control" rows="6" name='comment'
                                                          placeholder="{{ Write_your_review_here }}">{{ review.comment }}</textarea>
                                        </div>
                                        <input name="owner" value="{{ request.user.id }}" hidden/>
                                        <input name="product" value="{{ product.id }}" hidden/>
                                        <output id="images-list">
                                            {% for img_url in review.get_images_url %}
                                                <img style="height:75px;max-width:19%;border:0.5px solid #666;margin:5px 2px;border-radius:6px"
                                                     src="{{ url_for('static', path=img_url ) }}" title="{{ Image }}"/>
                                            {% endfor %}
                                        </output>
                                        <input name='action' type='text' value='edit' hidden/>
                                        <div class="form-group submit d-flex justify-content-between">
                                            <a href="/{{ LANGUAGE_CODE }}/rqa/delete/{{ review.id }}"><button class="ps-btn" type="button" style="background:#FE0909;"
                                                    >{{ Remove }}</button></a>
                                            <button class="ps-btn" type="submit">{{ Save }}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}


{% block scripts %}
    <script>

    </script>
{% endblock scripts %}
