{% load static %}
<div class="ps-block--site-features ps-block--site-features-2">
    <div class="ps-block__item">
        <div class="ps-block__left">
            <img src="{% static 'assets/img/icon/Truck.svg' %}"/>
        </div>
        <div class="ps-block__right">
            <h4>{{ Free_delivery_within_Uzbekistan }}</h4>
            <p>{{ from_10_15_days }}</p>
        </div>
    </div>
    <div class="ps-block__item">
        <div class="ps-block__left">
            <img src="{% static 'assets/img/icon/Refresh.svg' %}"/>
        </div>
        <div class="ps-block__right">
            <h4>{{ Return }}</h4>
            <p>{{ We_will_find }}</p>
        </div>
    </div>
    <div class="ps-block__item">
        <div class="ps-block__left">
            <img src="{% static 'assets/img/icon/Lock.svg' %}"/>
        </div>
        <div class="ps-block__right">
            <h4>{{ Secure_Payment }}</h4>
            <p>{{ Reliable_secure_payment_system }}</p>
        </div>
    </div>
    <div class="ps-block__item">
        <div class="ps-block__left">
            <img src="{% static 'assets/img/icon/Chat.svg' %}"/>
        </div>
        <div class="ps-block__right">
            <h4>12/7 {{ Customer_service }}</h4>
            <p>{{ Consistent_and_quality_customer_service }}</p>
        </div>
    </div>
</div>