<div class="ps-popup" id="subscribe" data-time="500">
    <div class="ps-popup__content bg--cover" data-background="{{ url_for('static', path='assets/img/popupBanner.jpg') }}">
        <a class="ps-popup__close" href="#"><i class="icon-cross"></i></a>
        <div style="width:100%;height:100%;cursor:pointer;"
             onclick="window.location.href='/{{ LANGUAGE_CODE }}/orders/special-order';"></div>
{#        {% comment %} <form class="ps-form--subscribe-popup" action="index.html" method="get">#}
{#            <div class="ps-form__content">#}
{#                <h4>Get <strong>25%</strong> Discount</h4>#}
{#                <p>Subscribe to the Martfury mailing list <br /> to receive updates on new arrivals, special offers <br /> and our promotions.</p>#}
{#                <div class="form-group">#}
{#                    <input class="form-control" type="text" placeholder="Email Address" required>#}
{#                    <button class="ps-btn">Subscribe</button>#}
{#                </div>#}
{#                <div class="ps-checkbox">#}
{#                    <input class="form-control" type="checkbox" id="not-show" name="not-show">#}
{#                    <label for="not-show">Don't show this popup again</label>#}
{#                </div>#}
{#            </div>#}
{#        </form> {% endcomment %}#}
    </div>
</div>