<div class="ps-shopping__header">
    <!-- pagination info | START -->
    {% include 'products/sections/pagination_info-new.html' %}
    <!-- pagination info | END -->

    <div class="ps-shopping__actions">

        <!-- product list sorting | START -->
        {% include 'products/sections/product_top_toolbar_sort-new.html' %}
        <!-- product list sorting | END -->

        <!--         --  product listing layout | START --
        <div class="ps-shopping__view">
            {% include 'products/sections/product_tab_list-new.html' %}
        </div>
        
                     --  product listing layout | END   --          -->

    </div>
</div>