{% extends 'base.html' %}


{% block title %}{{ Checkout }}{% endblock %}

{% block content %}

    <section class="ps-section--account ps-checkout">
        <div class="container">
            <div class="ps-section__header pb-0">
                <h3>{{ Checkout_Information }}</h3>
            </div>
            <div class="ps-section__content">
                <div class="ps-form__content">
                    {% if errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul style="padding-left:10px;list-style:none;">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <!-- ----------- -->

                    <form id="check-form" action="/{{ LANGUAGE_CODE }}/orders/checkout/" method="post">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                                <p style="margin-top:20px;font-size:18px;font-weight:700;">
                                    {{ Personal_data_and_delivery_address }}
                                </p>
                                <div class="ps-form__billing-info">
                                    <div class="row"> {{ csrf_token }}
                                        <div class="col-sm-6">
                                            <div class="form-group"> <!-- add class mb-0 -->
                                                <label>{{ First_Name }}<span class="cl-yellow">*</span></label>
                                                <input class="form-control" type="text" name="first_name"
                                                       id="first_name"
                                                       value="{% if current_user %}{{ current_user.first_name|default('', true)}}{% endif %}" required>
                                            </div>
                                            <!-- .form-control make height <40px  -->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>{{ Last_Name }} <span class="cl-yellow">*</span></label>
                                                <input class="form-control" type="text" name="last_name" id="last_name"
                                                       value="{% if current_user %}{{ current_user.last_name|default('', true) }}{% endif %}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>{{ Phone }} <span class="cl-yellow">*</span></label>
                                                <input class="form-control" type="tel" name="phone" id="phone"
                                                       value="{% if current_user %}+{{ current_user.phone}}{% endif %}" required
                                                       pattern="^[\+]{1}?[0-9]{5}?[\s]{1}?[0-9]{3}?[\s]{1}?[0-9]{2}?[\s]{1}?[0-9]{2}$">
                                            </div>
                                        </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>{{ Delivery_address }} <span
                                                            class="cl-yellow">*</span></label>
                                                    <select name="address" id="manzil" class="form-control" required
                                                           >
                                                        <option value=""> --- {{ Choose_your_delivery_address }}
                                                            ---
                                                        </option>
                                                        {% for addr in current_user.addresses %}
                                                            <option value="{{ addr.id }}">{{ addr.get_regions[LANGUAGE_CODE] }} {{ addr.get_cities[LANGUAGE_CODE] }} {{ addr.street_address_1 }}</option>
                                                        {% endfor %}
                                                        <option value="0">{{ Other }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row addr-row {% if address %}d-none{% endif %}">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>{{ Region }} <span class="cl-yellow">*</span></label>
                                                <select name="region" id="region" class="form-control" required
                                                        onchange="show_cities(this)">
                                                    <option value=""> --- {{ Please_select_region }} ---
                                                    </option>
                                                    {% for key, value in regions %}
                                                        {% if key == address.region %}
                                                            <option selected="selected"
                                                                    value="{{ key }}">{{ value }}</option>
                                                        {% else %}
                                                            <option value="{{ key }}">{{ value }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>{{ City }} <span class="cl-yellow">*</span></label>
                                                <select name="city" id="city" class="form-control" required>
                                                    <option value=""> --- {{ Please_select_district }} ---
                                                    </option>
                                                    {% for key in cur_cities %}
                                                        {% if key == address.city %}
                                                            <option selected="selected"
                                                                    value="{{ key }}">{{ address.key }}</option>
                                                        {% else %}
                                                            <option value="{{ key }}">{{ address.key }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row addr-row {% if address %}d-none{% endif %}">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>{{ Address }} <span class="cl-yellow">*</span></label>
                                                <input class="form-control" type="text" name="street_address_1"
                                                       id="street_address_1"
                                                       value="{% if address %} {{ address.street_address_1 }}{% endif %}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <!-- add class mb-0 -->
                                        <label>{{ Order_Notes }}</label>
                                        <textarea name="note" id="note" class="form-control"></textarea>
                                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                <div class="Returning_cart_body col-12 mb-10 p-0">
                    <p style="margin-top:20px;font-size:18px;">
                        <label for="order_note"><b>{{ Your_Payment_Method }}</b>
                            <span class="cl-yellow">*</span></label>
                    </p>
                    <div>
                        <label class="checkcontainer mr-25 label-start">
                            <input type="radio" name="payment_method" value="CASH" required>
                            <span class="radiobtn"></span>
                            <span style="position:relative;top:-5px;right:-5px;font-size:18px;font-weight:600;">{{ Cash }}</span>
                            <p class='mb-0'>{{ Payment_is_accepted }}</p>
                        </label>
                        <div style='border:1px solid #dddddd;border-bottom-left-radius:10px;border-bottom-right-radius:10px;'>
                            <label class="checkcontainer">
                                <input type="radio" name="payment_method" value="PAYME" required>
                                <span class="radiobtn"></span>
                                <img src="{{ url_for('static', path='assets/img/Payme.svg') }}"/>
                            </label>
                            <label class="checkcontainer">
                                <input type="radio" name="payment_method" value="CLICK" required>
                                <span class="radiobtn"></span>
                                <img src="{{ url_for('static', path='assets/img/click.jpg') }}"/>
                            </label>
                            <label class="checkcontainer label-end">
                                <input type="radio" name="payment_method" value="APELSIN" required>
                                <span class="radiobtn"></span>
                                <img src="{{ url_for('static', path='assets/img/apelsin.png') }}" style="height:24px;width:auto;"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="ps-block--checkout-order" id="shopping_cart_details">
                    <table class='text-center' style="width:100%;border:2px solid #eaeaea;">
                        <thead>
                        <tr>
                            <th class="product-name" style="padding:10px;"><strong>{{ IMAGE }}</strong></th>
                            <th class="product-name" style="padding:10px;"><strong>{{ PRODUCT_NAME }}</strong>
                            </th>
                            <th class="product-total" style="padding:10px;"><strong>{{ TOTAL }}</strong></th>
                        </tr>
                        </thead>
                        <tbody id="checkout_tbody">
                        </tbody>

                        <tfoot>
                        <tr class="order_total text-center" style="border:2px solid #eaeaea;">
                            <td colspan='2'
                                style="width:50%;padding:10px;font-size:18px;text-align:left;padding-left:15px;">
                                <strong>{{ Order_Total }}</strong>
                            </td>
                            <td style="width:33%;padding:10px;font-size:18px;color:#00A000;">
                                <strong id="total_price_checkout">0 {{ SUM }}</strong>
                            </td>
                        </tr>
                        <!-- Terms and Conditions checkbox START -->
                        <tr style="border:2px solid #eaeaea; border-bottom:none;">
                            <td colspan='3' style="padding:10px;font-size:12px;">
                                <div style="display: flex">
                                    <input required type="checkbox" name="agree" value='1'>
                                    <span style="padding-left: 6px">
                                                          {{ I_have_read_and_agree }}
                                                              <a href='/{{ LANGUAGE_CODE }}/pages/terms-and-conditions'
                                                                 style='color:blue;'> {{ Terms_Conditions }}</a>
                                                              .
                                                        </span>
                                </div>
                            </td>
                        </tr>
                        <!-- Terms and Conditions checkbox END -->
                        <tr class="order_total">
                            <td colspan="3">
                                <div class="order_button order_btn_container">
                                    <input id="order_detail" name="order_detail" type="hidden"
                                          value="">
                                    <input id="subtotal" name="subtotal" type="hidden"
                                           value="">
                                    <button type="submit" id="order-confirmation" class="ps-btn mb-3">
                                        <span>
                                                 <i id="inprogress" style="display: none; color: #FFFFFF" class="fa fa-spinner fa-pulse fa fa-fw"></i>
                                        </span>
                                   {{ Order_confirmation }}</button>

                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        </form>
        </div>
      </div>
        </div>
    </section>

    <script>
    $(document).ready(function (){
        checkout_page_update()
    })
        var cities = JSON.parse('{{cities|safe}}');
        var addresses = {};
        {% for addr in current_user.addresses %}
            addresses['{{addr.id}}'] = {
                'region': '{{addr.region}}',
                'region_name': '{{addr.get_regions[LANGUAGE_CODE]}}',
                'city': '{{addr.city}}',
                'city_name': '{{addr.get_cities[LANGUAGE_CODE]}}',
                'street_addr': "{{addr.street_address_1|safe}}"
            }
        {% endfor %}
        console.log(addresses)
        $('#check-form').on('submit', function (){
            $('#inprogress').css('display', 'inline-block');
        })

        function show_cities(select) {
            var val = select.value;
            cur_cities = cities[parseInt(val)];
            $('#city').html('<option value=""> --- {{Please_select_district}} ---</option>');
            for (var key in cur_cities) {
                if (cur_cities.hasOwnProperty(key)) {
                    $('#city').append(`<option value="${key}">${cur_cities[key]}</option>`);
                }
            }
        }

        $('#manzil').click(function () {
            console.log("hi")
            var val = this.value;
            console.log(val, "ddsd")
            if (val === '0') {
                $('#region').html(`
                    <option value=""> --- Please select region ---</option>
                    {% for key, value in regions %}
                            <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}`
                );
                $('#region').removeAttr('disabled');
                $('#city').html(
                    '<option value=""> --- {{Please_select_district}} ---</option>'
                );
                $('#city').removeAttr('disabled');
                $('#street_address_1').val('');
                $('#street_address_1').removeAttr('disabled');
                $('.addr-row').removeClass('d-none');
                return true;
            }
            selected_addr = addresses[val];
            console.log(selected_addr)
            if (selected_addr !== undefined) {
                $('#region').html(
                    `<option value="${selected_addr['region']}">${selected_addr['region_name']}</option>`
                )
                $('#region').attr('disabled', 'disabled');
                $('#city').html(
                    `<option value="${selected_addr['city']}">${selected_addr['city_name']}</option>`
                )
                $('#city').attr('disabled', 'disabled');
                $('#street_address_1').val(selected_addr['street_addr']);
                $('#street_address_1').attr('disabled', 'disabled');
                $('.addr-row').removeClass('d-none');
            }
        });
    </script>

{% endblock %}

