{% extends 'base.html' %}

{% block title %}{{ My_Orders}}{% endblock %}

{% block content %}

    <!-- breadcump menu | START -->
    <!-- breadcump menu | END -->

    <section class="ps-section--account">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!-- nav tabs | START -->
                    {% include 'users/sections/account-menu.html' %}
                    <!-- nav tabs | END -->
                </div>
                <div class="col-lg-9">
                    <div class="ps-section__right" style="overflow-x: scroll;">

                        <h3>{{ My_Orders }}</h3>
                        <div class="stable-responsive">
                            <table class="table orders">
                                <thead>
                                <tr class="table-secondary  th-bold">
                                    <th>{{ Order }}</th>
                                    <th style="line-height:1">{{ Date }}</th>
                                    <th>{{ Status }}</th>
                                    <th style="line-height:1">{{ Order_Notes }}</th>
                                    <th>{{ Total }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="table-bordered order-list">
                                {% for order in order_list %}
                                    <tr>
                                        <td class='text-center'>#{{ order.id }}</td>
                                        <td class="or-date text-center"
                                            style="width:110px;padding:10px 5px;">{{ order.created_date|date("%m-%d-%Y %H:%M") }}</td>
                                        <td><span class="success">{{ order.get_status }}</span></td>
                                        <td style="max-width:275px;">
                                        {% if order.note %}
                                            <span>{{ order.note | truncate(50, True) }}</span>

                                            {% if order.note|length > 50 %}
                                                <i class="fa fa-chevron-circle-down"
                                                   onclick="showNote(`{{ order.note }}`)"
                                                   style="color:#FE6009;cursor:pointer;"></i>
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                        <td style="max-width:130px;padding:10px 5px;">{{ order.total_price|sum_format }} {{ SUM }}</td>
                                        <td style="text-align:center;max-width:130px;padding:5px 2px;min-width: 104px;">
                                            <a href="/{{ LANGUAGE_CODE }}/orders/{{ order.id }}" class="view cl-yellow">
                                                <i class='icon-eye' style='font-weight:inherit;'></i> {{ View }}
                                            </a>
                                            {% if order.status == 'Pending' or order.status == 'Awaiting_Payment' %}
                                                <a href="{{ order.get_payment_url }}" class='paybtn' target="_blank">
                                                    <i class='icon-receipt'></i> {{ Make_payment }}
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal to show full order note -->
    <div class="modal" tabindex="-1" role="dialog" id="modalNote" style="top:80px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="margin-top:-5px;">
                        <span aria-hidden="true" style="font-size:30px;">&times;</span>
                    </button>
                    <p id="modalNoteText" style="padding:13px 17px 4px;color:black;font-size:15px;"></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showNote(note) {
            $('#modalNoteText').text(note);
            $('#modalNote').modal('show');
        };
    </script>
{% endblock content %}