<div class="shipping_area shipping_two mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single_shipping single_sp_two">
                    <div class="shippin_icone icone_two">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="shipping_content sp_c_two">
                        <h3>{{ Free_shipping_on_orders }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_shipping single_sp_two">
                    <div class="shippin_icone icone_two">
                        <i class="fa fa-history"></i>
                    </div>
                    <div class="shipping_content sp_c_two">
                        <h3>{{ Returns_money_back_guarantee }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_shipping single_sp_two box3">
                    <div class="shippin_icone icone_two">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div class="shipping_content sp_c_two">
                        <h3>{{ Online_support_consultations }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>