<div class="shipping_area mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single_shipping">
                    <div class="shippin_icone">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="shipping_content">
                        <h3>{{ Free_shipping_on_orders }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_shipping">
                    <div class="shippin_icone">
                        <i class="fa fa-history"></i>
                    </div>
                    <div class="shipping_content">
                        <h3>{{ Returns_money_back_guarantee }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single_shipping box3">
                    <div class="shippin_icone">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div class="shipping_content">
                        <h3>{{ Online_support_consultations }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>