{% extends 'base.html' %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}Reset Password{% endblock %}


{% block metadata %}
    <meta property="og:title" content="Reset Password">
    <meta name="description"
          content="Интернет-магазин GoSia.uz — низкие цены и широкий ассортимент! Телефоны и гаджеты, компьютеры и оргтехника, для геймеров, бытовая техника, телевизоры, видео и аудио, посуда, мебель, для дома и офиса, инструменты и автотовары, игрушки, подарки и аксессуары, одежда, обувь и аксессуары, детские товарыи много другое. Быстрая доставка по Узбекистану.">
    <meta property="og:description"
          content="Интернет-магазин GoSia.uz — низкие цены и широкий ассортимент! Телефоны и гаджеты, компьютеры и оргтехника, для геймеров, бытовая техника, телевизоры, видео и аудио, посуда, мебель, для дома и офиса, инструменты и автотовары, игрушки, подарки и аксессуары, одежда, обувь и аксессуары, детские товарыи много другое. Быстрая доставка по Узбекистану.">
    <meta property='og:image' content='/cdn/static/assets/img/logo/logo_sia.jpg'/>
{% endblock %}


{% block content %}

    <div class="ps-my-account pb-20">
        <div class="container">
            <div class="ps-form--account ps-tab-root" style="max-width:700px;">
                <ul class="ps-tab-list">
                    <li class="active">
                        <p><a>Reset Password</a></p>
                    </li>
                </ul>
                <div class="ps-tabs">
                    <div class="ps-tab active" style="max-width:430px;margin:auto;">
                        <form class="ps-form--account ps-tab-root pt-0 pb-10"
                              action="/{{ LANGUAGE_CODE }}/users/reset-password" method="post">
                            <div class="ps-form__content"> {% csrf_token %}
                                {% if errors %}
                                    <div class="alert alert-danger" role="alert">

                                        <ul>
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label>Phone<span class='cl-yellow'>*</span></label>
                                    <input class="form-control" name="phone" type="tel" placeholder="+99891234567"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label>New Password <span class='cl-yellow'>*</span></label>
                                    <input class="form-control" name='password' type="password" required
                                           placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password<span class='cl-yellow'>*</span></label>
                                    <input class="form-control" name="password_confirm" type="password"
                                           placeholder="Confirm New Password" required>
                                </div>
                                <div class="form-group submtit  mb-3">
                                    <button class="ps-btn ps-btn--fullwidth"
                                            type="submit">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}