
<footer class="ps-footer ps-footer--3">
    <div class="container">

        <!-- footer ecommerce features part | START -->
        {% include 'section/footer_top_features.html' %}
        <!-- footer ecommerce features part | END -->

        <!-- footer references and quick links part | START -->
        {% include 'section/footer_top.html' %}
        <!-- footer references and quick links part | END -->

        <!-- footer categories list/links part | START -->
        {% include 'section/footer_category_links.html' %}
        <!-- footer categories list/links part | END -->

        <!-- footer copyright part | START -->
        {% include 'section/footer_copyright.html' %}
        <!-- footer copyright part | END -->

    </div>
</footer>